@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
body{
    background-color:white;
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #000000;
    --secondary-color: #ececec;
    --accent-color: #13a30e;
    --accent-color2: #616161;
}

ul{
    list-style-type: none;
    display: flex;
    
}

a{
    text-decoration: none;
    color: white;
}

.button1{
    background-color: var(--accent-color);
    padding: 10px 20px;
    border-radius: 2px;
    transition: .1s ease-out;
}
.button1:hover{
    background-color: var(--accent-color2);
}
.button2{
    background-color: white;
    padding: 10px 20px;
    border-radius: 2px;
    border: 2px solid var(--accent-color);
    transition: .1s ease-out;
}
.button2:hover{
    background-color: var(--accent-color);
}
/* HOME PAGE LAYOUT */

.container{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns:repeat(3, 1fr);
    grid-template: 
    " item1  item1  item1 " 40px
    " item2  item2  item2 " 700px
    " item3  item3  item3 " 500px
    " item6  item6  item6 " 470px
    " item7  item7  item7 " 500px
    " item10  item10  item10 " 700px
    " item11  item11  item11 " 400px
    " item13  item13  item13 " 400px
    " item12  item12  item12 " 400px;
}

/* HOMEPAGE MOBILE SCREEN LAYOUT */

@media screen and (max-width: 727px){
    .container{
        grid-template-rows: repeat(11, 1fr);
        grid-template-columns:repeat(1, 1fr);
        grid-template: 
        " item1 " 20px
        " item2 " 700px
        " item3 " 500px
        " item6 " 600px
        " item7 " 500px
        " item10 " 500px
        " item11 " 400px
        " item13 " 400px
        " item12 " 400px;
    }
    
}

.item{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: bolder;
}

.item1{
    width: 100%;
    height: 50px;
    position: fixed;
    background-color:var(--primary-color);
    grid-area: item1;
    z-index: 9;
}
.item2{
    background-color:yellow;
    grid-area: item2;
}
.item3{
    grid-area: item3;
}

.item6{
    background-color:var(--secondary-color);
    grid-area: item6;
}
.item7{
    grid-area: item7;
}
.item10{
    background-color:rgb(231, 231, 231);
    grid-area: item10;
}
.item11{
    background-color:lightcoral;
    grid-area: item11;
}
.item13{
    background-color:red;
    grid-area: item13;
}
.item12{
    background-color:rgb(88, 53, 53);
    grid-area: item12;
}

/* NAVBAR DESIGN */
.item1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    color: var(--secondary-color);
}

.item1 ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 6%;
    width: 100%;
    cursor: default;
}
.item1 ul li{
    transition: .1s ease-out;
}

.item1 ul li:hover{
    color: var(--accent-color);
}

.logo img{
    width: 130px;
    margin-left: -190px;
}

.search img{
    width: 20px;
    filter: invert();
    transition: .1s ease-out;
}
.user img{
    width: 25px;
    filter: invert();
    transition: .1s ease-out;
}

.search img:hover{
    transform: scale(1.1);
    filter: invert(.5);
}
.user img:hover{
    transform: scale(1.1);
    filter: invert(.5);
}

/* HERO SECTION DESIGN */
.item2{
    display: flex;
    overflow: hidden;
    position: relative;

}

.hero-text{
    position: absolute;
    top: 60%;
    left: 40.5%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    z-index: 2;
    color: var(--secondary-color);
}

.hero-text h1{
    margin: 0;
    font-family: sans-serif;
    font-weight: 900;
}

.hero-text h2{
    margin-top: 10px;
    text-decoration: overline;
}

.hero-text p{
    font-family: sans-serif;
    font-weight: 100;
    margin-bottom: 50px;
    width: 50%;
}

.hero-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.4598214285714286) 48%, rgba(50,139,179,0) 100%);
    z-index: 1;
}

.hero-video{
    position: absolute;
    z-index: 0;
}

#hp-buy{
    /* background-color: black; */
    border: 3px solid var(--accent-color);
    border-radius:10px ;
    padding: 10px 20px;

}

#hp-buy:hover{ 
    background-color: var(--accent-color);
    border-radius:2px ;
    padding: 10px 20px;
    transition: .2s ease-in-out;
    
}

/* HOMEPAGE FEATURED PRODUCTS SECTION DESIGN */
.item3{
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.m-cards{
    margin: 0;
    padding-top: 1%;
    background-color: white;
    width: 82.5%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.cards{
    margin: 0;
    /* overflow: clip; */
    position: relative;
    top: 5%;
    border-radius: 7px;
    height: 95%;
    width: 30%;
    
}

.card1{
    margin: 0;
    border-radius: 7px;
    background-color: white;
    height: 75%;
    box-shadow: #838383 0px 0px 7px;
    transition: .2s ease-in-out;
}

.card1:hover{
    scale: 1.01;
    box-shadow: #4b4b4b 0px 0px 9px;
}

.item3 h1{
    width: 93%;
    margin-top: .5rem;
    margin-bottom: .2rem;
    font-family: Lexend, sans-serif;
    font-weight: 700;
    color: var(--primary-color);
}
.item3 p{
    margin:0;
    width: 93%;
    font-family: sans-serif;
    font-weight: 100;
    color:var(--accent-color2) ;
}

/* HOMEPAGE NEWS SECTION DESIGN */
.item6{
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
.item6 h3{
    text-align: center;
    font-family: Titillium Web, sans-serif;
    font-size: 1.3rem;
}
.item6 h1{
    text-align: center;
    font-family: Lexend, sans-serif;
    font-weight: 700;
    color: var(--primary-color);
    margin: 0;
    text-decoration: overline;
}
.item6 p{
    text-align: center;
    margin: 0;
    font-family: sans-serif;
    font-size: large;
    font-weight: 400;
    color: var(--accent-color2);
    padding: 1rem;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    top: 15%;
}
.item6 a{
    font-size: large;
    color: var(--primary-color);
}
#learn-more{
    border: 3px solid var(--accent-color2);
    border-radius: 10px;
    padding: 10px 20px;
    transition: .2s ease-in;
}
#learn-more:hover{
    border: 3px solid var(--accent-color);
    box-shadow: var(--accent-color) 0px 0px 10px;
}
#see-all{
    margin-top: 20px;
    transition: .1s ease-in;
}
#see-all:hover{
    color: var(--accent-color);
}
.active{
    display: flex;
    justify-content: space-evenly;
    width: 5%;
}
.loading{
    margin-top: 20px;
    margin-bottom: 0;
    background-color: rgb(107, 107, 107);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.loading-active{
    margin-top: 20px;
    margin-bottom: 0;
    background-color: var(--accent-color);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

/* HOMEPAGE SECTION 7 DESIGN */
.item7{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 2rem;
}
.item7-contents{
    height: 100%;
    width: 80%;
}
 .item7 h1{
    text-align: left;
    font-family: Lexend, sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 1%;
    margin-top: 2.5%;
} 
.item7 p{
    font-family: sans-serif;
    font-weight: 100;
    font-size: 1.5em;
    color: var(--accent-color2);
    width: 36%;
    margin-top: 0;
    margin-bottom: 3em;
} 
.item7 a{
    color: var(--primary-color);
    margin-right: 1em;
    font-weight: 900;
}
#nim{
    position: relative;
    scale: .5;
    top: -155%;
    left: 37%;
    -webkit-filter: drop-shadow(10px 10px 10px #505050);
    filter: drop-shadow(10px 10px 10px #616161);
}

/* HOMEPAGE SECTION 10 DESIGN */
.item10{
    display: flex;
    margin: 0;
    justify-content: center;
}
.item10-items{
    width: 78%;
    margin: 1.5% 0;
}
.item10 h3{
    text-align: center;
    font-family: Titillium Web, sans-serif;
    font-size: 1.3rem;
    margin: 1%;
}
.item10 h1{
    text-align: center;
    font-family: Lexend, sans-serif;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 2%;
    text-decoration: overline;
}
.card-text{
    height: 75%;
    display: flex;
    justify-content: space-between;
}
.card-text-item{
    position: relative;
    border-radius: 5px;
    width: 23%;
    border: .1px solid rgb(93, 161, 108);
    box-shadow: #686868 0px 0px 5px;
    transition: .2s ease-out;
    cursor: default;
}   
.card-text-item:hover{
    scale: 1.01;
    box-shadow: #13b135 0px 0px 8px;
}
.card-text-item img{
    width: 100%;
    border-radius: 5px;
}
.card-text-item h1 {
    margin-left: 4%;
    margin-top: 0;
    text-align: left;
    font-size: x-large;
    text-decoration: none;
}
.card-text-item h3 {
    margin-bottom: 2%;
    margin-left: 4%;
    text-align: left;
}
.card-text-item p {
    margin-top: 3%;
    margin-left: 4.5%;
    margin-right: 4.5%;
    text-align: left;
    font-weight: 500;
    color: var(--accent-color2);
}
.card-text-item a{
    position: absolute;
    top: 92%;
    text-align: left;
    margin-left: 3%;
    font-weight: 900;
    color: var(--primary-color);
}
.card-text-item a:hover{
    color: var(--accent-color);
}