body{
    background-color:lightblue;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns:repeat(3, 1fr);
    grid-template: 
    " item1  item1  item1 " 50px
    " item2  item2  item2 " 700px
    " item3  item4  item5 " 400px
    " item6  item6  item6 " 600px
    " item7  item7  item8 " 500px
    " item9  item10  item10 " 500px
    " item11  item11  item11 " 400px;
}

@media screen and (max-width: 727px){
    .container{
        grid-template-rows: repeat(11, 1fr);
        grid-template-columns:repeat(1, 1fr);
        grid-template: 
        " item1 " 50px
        " item2 " 700px
        " item3 " 400px
        " item4 " 400px
        " item5 " 400px
        " item6 " 600px
        " item7 " 500px
        " item8 " 350px
        " item10 " 500px
        " item9 " 350px
        " item11 " 400px;
    }
    
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bolder;
}

.item1{
    width: 100%;
    position: fixed;
    background-color:green;
    grid-area: item1;
    z-index: 1;
}
.item2{
    background-color:yellow;
    grid-area: item2;
}
.item3{
    background-color:red;
    grid-area: item3;
}
.item4{
    background-color:pink;
    grid-area: item4;
}
.item5{
    background-color:violet;
    grid-area: item5;
}
.item6{
    background-color:indigo;
    grid-area: item6;
}
.item7{
    background-color:magenta;
    grid-area: item7;
}
.item8{
    background-color:turquoise;
    grid-area: item8;
}
.item9{
    background-color:maroon;
    grid-area: item9;
}
.item10{
    background-color:palegoldenrod;
    grid-area: item10;
}
.item11{
    background-color:lightcoral;
    grid-area: item11;
}